.body{
    align-items: center;
    width: 100%;
    background-image: url("resources/background.jpg");
    background-repeat: repeat;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    float: center;
    width: 50%;
    height: 650px;
}

.right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    float: center;
    width: 50%;
    height: 650px;
}

.landing{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height:620px;
}

.bottom{
    display: flex;
    width: 100%;
    height:650px;
}

.drink{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.shop{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-heading {
    text-align: center;
}

.container{
    display: flex;
    padding: 10px;
    margin-left: 15%;
    align-items: top;

}

.grid-item{
    display: flex;
    flex-direction: column;
    width: 33%;

}

/* woah wasnt me 
USED IN :
    profile.js

.profile-container{
*/
.profile-contianer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-repeat: repeat;
    background-position: center;
    
}

.left-profile{
    display: flex;
    flex-direction: column;
    float:left;
    width: 60%;
}

.right-profile{
    display: flex;
    flex-direction: column;
    float:left;
    width: 40%;
}

.menu{
    padding:50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 500px;
}

.topping{
    padding:50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 200px;
}

.opening{
    padding:50px;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    width: 90%;
}

.map{
    text-align: center;
}

.infodisplay{
    padding: 20px;
    border: 5px;
    padding-left:30px;
    border-style: solid;
    border-color: #fff;
    background-color: blanchedalmond;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 90%;
    height: 90%;
}

.reward{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 1500px;
}

.left-reward{
    padding: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    width: 45%;
    text-align: center;
}

.right-reward{
    padding: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    width: 45%;
    text-align: center;

}

.result{
    display: flex;
    min-height: 1500px;
    flex-direction: column;
}

.result-banner{
    display: flex;
    align-items: center;
}

.result-body{
    display: flex;
}

.filter{
    padding: 20px;
    display:flex;
    flex-direction: column;
    width: 20%;
}

.filter-box{
    padding: 20px;
    background-color: transparent;
    border-style: ridge;
    border-color: grey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    min-height: 500px;
    opacity: 900%;
}

.result-list{
    display: flex;
    padding: 20px;
    width: 70%;
}

.result-grid{
    display: flex;
    padding: 20px;
    gap: 30px;
    border-style: ridge;
    border-color: grey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 900%;
    width: 100%;
    max-block-size: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.profile{
    display:flex;
    border-color: navy;
    border-style: solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 350px;
    height: 200px;
}

.profile_display_left{
    padding: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%
}

.profile_display_right{
    padding-top: 30px;
    padding-right: 40px;
    display: flex;
    width: 30%;
    float: left;
}

.drinkleft-profile{
    display: flex;
    flex-direction: column;
    float:left;
    width: 60%;
}

.drink-ingredients{
    padding-left: 70px;
    display: table-cell;
}

.drink-pic{
    float: left;
}

.ingredients{
    float: left;
} 

.rating{
    padding-left: 110px;
    display: inline;
}

.rating-colour{
    background: aqua;
    border-radius: 10px;
    width: 375px;
}

.star{
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 75px;
    width: 75px;
}

.rating-button{
    padding-left: 145px;
}

.shop-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}